{% extends "general/index.html" %}
{% load i18n static %}


{% block content %}

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Email address:' %}</label>
        <input type="email" name="email" required id="id_email" maxlength="254" placeholder="Enter Your Email"/>
    </div>
    <input type="submit" value="{% trans 'Reset my password' %}" />
</fieldset>
</form>

{% endblock %}
