{% extends base_template %}

{% block content %}

{% if instances %}

{% if request.user.user_type == 'plant' or request.user.is_superuser %}
<table>
	<tr>
		<td>Order #</td>
		<td>Customer</td>
		<td>total</td>
		<td>Date</td>
		<td>Status</td>
		<td>Details</td>
		{% if request.user.user_type == 'plant' %}
		<td>Update</td>
		{% endif %}
	</tr>
	{% for instance in instances %}
	<tr>
		<td>{{instance.order_id}}</td>
		<td>{{instance.user.first_name}}</td>
		<td>{{instance.total_price}}</td>
		<td>{{instance.date}}</td>
		<td>{{instance.get_state_display}}</td>

		<td><a href="{% url 'general:view_order' instance.pk %}">Details</a></td>
		{% if request.user.user_type == 'plant' %}
		<td><a href="{% url 'general:change_order_status' instance.pk %}">Update</a></td>
		{% endif %}		
	</tr>
	{% endfor %}
</table>
{% endif %}

{% if request.user.user_type == 'user' %}
<table>
	<tr>
		<td>Order #</td>
		<td>Product</td>
		<td>Quantity</td>
		<td>total</td>
		<td>Date</td>
		<td>Status</td>
		<td></td>
	</tr>
	{% for instance in instances %}
	<tr>
		<td>{{instance.order_id}}</td>
		<td>{{instance.product.product_name}}</td>
		<td>{{instance.quantity}}</td>
		<td>{{instance.total_price}}</td>
		<td>{{instance.date}}</td>
		<td>{{instance.get_state_display}}</td>
		<td><a href="{% url 'general:delete_order' instance.pk %}">Delete</a></td>
	</tr>
	{% endfor %}
</table>
{% endif %}

{% else %}
<br/>Nothing found.
{% endif %}

{% endblock %}