{% extends 'general/index.html' %}
{% load i18n %}

{% block content %}

</br>{{title}}

<form action="." method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.first_name.errors }}
        <label for="{{ form.first_name.id_for_label }}">Enter Agency Name:</label>
        <input type="text" autofocus name="first_name" id="id_first_name" maxlength="30" placeholder="Enter Agency Name" />
    </div>
    <div class="fieldWrapper">
        {{ form.address.errors }}
        <label for="{{ form.address.id_for_label }}">Enter Agency Address:</label>
        <input type="text" name="address" required id="id_address" maxlength="128" placeholder="Enter Agency Address"/>
    </div>
    <div class="fieldWrapper">
        {{ form.location.errors }}
        <label for="{{ form.location.id_for_label }}">Enter Your Location:</label>
        {{ form.location }}
    </div>
    <div class="fieldWrapper">
        {{ form.pincode.errors }}
        <label for="{{ form.pincode.id_for_label }}">Enter Agency Pincode:</label>
        <input type="text" name="pincode" required id="id_pincode" maxlength="20" placeholder='Enter Agency Pincode'/>
    </div>
    <div class="fieldWrapper">
        {{ form.email.errors }}
        <label for="{{ form.email.id_for_label }}">Enter Agency Email:</label>
        <input type="email" name="email" id="id_email" maxlength="254" placeholder="Enter Agency Email" />
    </div>
    <div class="fieldWrapper">
        {{ form.contact_number.errors }}
        <label for="{{ form.contact_number.id_for_label }}">Enter Agency Contact Number:</label>
        <input type="text" name="contact_number" required id="id_contact_number" maxlength="20" placeholder="Enter Agency Contact Number" />
    </div>
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Enter a Username:</label>
        <input type="text" name="username" required id="id_username" maxlength="150" placeholder="Enter a Username"/>
    </div>
    <div class="fieldWrapper">
        {{ form.password1.errors }}
        <label for="{{ form.password1.id_for_label }}">Enter a Password:</label>
        <input type="password" name="password1" required id="id_password1" placeholder="Enter a Password" />
    </div>
     <input type="submit" value="Submit" />
</form>
<a href="{% url 'agency_login' %}">Go and Login</a>
{% endblock %}